{% load static %}
{% include 'header.html' %}

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>despre noi</h4>
              <h2>compania noastră</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Experiența noastră</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-image">
              <img src="{% static 'assets/images/boss.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Cine suntem &amp; Cu ce ne ocupăm?</h4>
              <p>Descoperă puterea parteneriatelor pentru dezvoltarea sectorului de pomusoare în Moldova cu compania Exotic Plants. Specializându-ne în producția de material săditor de înaltă calitate, suntem factorul cheie pentru succesul agricultorilor din industrie.
                  Într-o colaborare strânsă între laboratoarele noastre, care produc plante mamă de excepție, pepinierele specializate în multiplicarea materialului săditor și producătorii de fructe pasionați, ne propunem să aducem avantaje tangibile în producția locală.
                  Principalele avantaje ale producerii materialului săditor de calitate în Moldova sunt vizibile și remarcabile. Aclimatizarea locală favorizează randamentul optim în prinderea și creșterea plantelor, asigurând rezultate remarcabile în livadă.
                  Materialul săditor de la Exotic Plants este selectat cu grijă, garantând o calitate superioară și conformitate cu cele mai înalte standarde.
                  Iar prețurile noastre competitive sunt obținute prin reducerea costurilor de transport, oferind astfel o oportunitate unică agricultorilor de a investi eficient și de a obține rezultate excelente.Alătură-te mișcării noastre și descoperă cum Exotic Plants poate transforma afacerea ta într-un succes durabil în industria pomusoarelor din Moldova.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
{% include 'footer.html' %}